{% extends parent_template|default:"user/base_user_forms.html" %}
{% load bootstrap_form %}

{% block website-title %} Login - {{ block.super }} {% endblock %}
{% block page-title %} Login {% endblock %}

{% block content %}
    <form role="form" action="{% url 'user-auth:login' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form %}

        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login!</button>
        </div>
    </form>
    <ul>
        <li><a href="{% url 'user-auth:register' %}">Register</a></li>
        <li><a href="{% url 'user-auth:password_reset' %}">Forgot password</a></li>
        <li><a href="{% url 'user-auth:activate_resend' %}">Have an account but need to resend activation link?</a></li>
    </ul>
{% endblock %}