{% extends parent_template|default:"user/base_user_forms.html" %}
{% load bootstrap_form %}

{% block website-title %} Create new password - {{ block.super }} {% endblock %}
{% block page-title %} Create new password {% endblock %}

{% block content %}
    <form role="form" action="{{ request.path }}" method="post">
        {% csrf_token %}
        {% bootstrap_form %}

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save new password</button>
        </div>
    </form>
{% endblock %}