{% extends parent_template|default:"user/base_user_forms.html" %}
{% load bootstrap_form %}

{% block website-title %} Reset password - {{ block.super }} {% endblock %}
{% block page-title %} Reset password {% endblock %}

{% block content %}
    <form role="form" action="{% url 'user-auth:password_reset' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form %}

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Reset password</button>
        </div>
    </form>
{% endblock %}